<div class="main-header">
    <div class="main-header__btn_back"></div>
    <div class="title"><%= model[0].word[0].toUpperCase() + model[0].word.slice(1) %></div>
</div>
<div class="content-holder native-scroll">
    <div class="content">
        <% _.each(model, function(entry) { %>
        <div class="definition">
            <div class="definition__header">
                <span class="definition__word"><%= entry.word %></span>
                <% if(entry.pronunciation) { %>
                <span class="definition__pron"><%= '/' + entry.pronunciation + '/' %></span>
                <% } %>
                <span class="definition__functional-label"><%= entry.functionalLabel %></span>
            </div>
            <div class="definition__sub-header">
                <!-- span.definition__if + span.definition_il -->
                <%= entry.inflections %>
            </div>
            <% _.each(entry.definitions, function(definitionEntry) { %>
                <p class="definition__entry">
                    <span class="bold"><%= definitionEntry.sn %></span>
                    <%= definitionEntry.definition %>
                </p>
                <ul class="definition__examples">
                <% _.each(definitionEntry.examples, function(example) { %>
                    <li><span><%= example %></span></li>
                <% }) %>
                </ul>
            <% }) %>
        </div>
        <% }) %>
    </div>
</div>